name: Build Docs
on:
  workflow_call:

permissions:
  contents: read

jobs:
  build:
    name: Build Docs
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 1

      - name: Build & Cache Web Binaries
        uses: ./.github/actions/cache-build-web
        id: cache-build-web